@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
 *{
    margin: 0;
    padding:0;
    font-family:'poppins',sans-serif;
    box-sizing: border-box ;
 }

 body{
    background:rgb(181, 143, 251);
    color:rgb(245, 58, 6);
 }

 #header{
    width:100%;
    height: 100vh;
   background-color: rgb(109, 248, 248);
    background-size: cover;
    background-position:center ;
 }
 .container{
    padding: 10px 10%;
 }
 /*.....nav.....*/
 nav{
    display:flex;
    align-items: center;
    justify-content:space-between ;
    flex-wrap: wrap;
 }

 .logo{
    width: 140px;
 }

 nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px  ;
 }

 nav ul li a{
    color: rgb(247, 245, 245);
    text-decoration: rgb(2, 224, 249);
    font-size:18px;
 }

 nav ul li a::after{
    content: '';
    width: 100%;
    height: 3px;
    background:rgb(218, 188, 247) ;
    position: absolute;
    left:0;
    bottom: -8px;
    transition: 0.5s;
 }

 nav ul li a:hover::after{
    width: 100%;
 }

 /*........header.....*/
 .header-text {
    margin-top: 25px;
    font-size: 20px;
 }

 .header-text h1{
   font-size:  30px;
   margin-top: 25px;  
 }

 .header-text h1 span{
    color: aqua;
 }

 /*.....about..*/
 #about{
    padding: 9px 0;
    color:rgb(244, 247, 248) ;
 }
.row{
display: flex;
justify-content: space-between;
flex-wrap:wrap;
}

.about-col-1{
    flex-basis: 40%;   
}

.about-col-1 img{
    width: 30%;
    border-radius: 20px;    
}

.about-col-2{
    flex-basis: 50%;
}
.sub-title{
    font-size: 50px;
    font-weight: 400;
    color: rgb(245, 245, 248);
}
/*........experience.....*/
#experience{
   padding: 9px 0;
   color:rgb(92, 249, 7) ;
}
.row{
   display: flex;
   justify-content: space-between;
   flex-wrap:wrap;
   }
.experience-col-3{
   flex-basis: 50%;  
}
.sub-title{
   font-size: 50px;
   font-weight: 400;
   color: rgb(248, 247, 251);
}
.tab-titles{
    display: flex;
    margin: 20px 0 10px;
}
.tab-links{
    margin-right: 20px;
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
content: '';
width: 0;
height: 5px;
background: red;
position: absolute;
left: 0;
bottom: -8px;
transition:0.5s ;
}
.tab-links.active-link::after{
    width: 50%;
}
.tab-contents ul li{
list-style:none;
margin:20px 0 ;
}
.tab-contents ul li span{
    color: rgb(243, 8, 211);
    font-size: 13px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display:block;
}

.tab-links.active-link{
    display: flex;
}
/*........facilities.....*/
#facilities{
   padding: 20px 0;
}
.facilities-list{
   display: grid;
   grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
   grid-gap:10px;
   margin-top: 10px;
}
.facilities-list div{
   background: rgb(203, 243, 3);
   padding: 40px;
   font-size: 28px;
   font-weight:300;
   border-right: 5px;
transition:background 0.5s, transform 0.5s;
}
.facilities-list div i{
   font-size: 30px;
   margin-bottom: 30px;
}
.facilities-list div h2{
   font-size: 40px;
   font-weight: 200;
}
.facilities-list div a{
   text-decoration: none;
   color: rgb(249, 77, 9);
   font-size: 10px;
   margin-top: 20px;
   display:flex;
}
.facilities-list div:hover{
   background: rgb(248, 248, 251);
   transform: translateX(-10px);
}
/*........website....*/
#website{
   padding: 30px 0;
}
.Work-list{
   display: grid;
   grid-template-columns: repeat(auto-fit,minmax(210px,1fr));
   grid-gap:30px;
   margin-top: 40px;
}
.Work{
   border-radius: 20px;
   position: relative;
   overflow: hidden;
}
.Work img{
   width: 90%;
   border-radius: 10px;
   display: block;
   transition: transform 0.5s;
}
.layer{
   width: 100%;
   height: 100%;
   background: linear-gradient(rgb(4, 245, 245));
   border-radius: 10px;
   left: 0;
   bottom: 0; 
   overflow: hidden; 
   display: flex;
   padding: 0 20px ;
   transition: height 0.5s;
}
.layer h3{
   font-weight: 500 ;
   margin-bottom: 20px;
}
.layer a{
   margin-top: 20px;
   color: brown;
   text-decoration: none;
   font-size: 18px;
   line-height: 30px;
   width: 60px;
   height: 60px;
   border-radius: 50%;
   text-align: center;
}
.work:hover img{
   transform: scale(1.1);
}
.work:hover .layer{
   height: 100%;
}
/*................contact.....*/
.contact .content{
  margin: 0 auto;
  padding: 30px 0;
}
.contact .text{
  width: 80%;
  text-align: center;
  margin: auto;
}




